@{
    ViewData["Title"] = "Landing page";
}

<div class="h-full w-full flex flex-col">
    <div class="w-full flex justify-between p-4">
        <img src="../images/logo-nobg-min.png" class="max-w-[140px]"/>
        <button class="bg-slate-800 w-[125px] h-[45px] mt-4 hover:bg-slate-700 flex justify-center items-center">
            <p class="text-white text-xl font-semibold m-0">
                Sign in
            </p>
        </button>
    </div>
    <div class="w-full h-full flex pl-10">
        <div class="h-full flex flex-col justify-between pb-20">
            <div class="flex flex-col max-w-xl gap-3">
                <p class="max-sm:text-2xl text-5xl font-bold text-slate-800 leading-tight animate-fade-in-up">MANAGE YOUR <br /> WAREHOUSE <br /> WITH EASE</p>
                <p class="text-slate-800 max-sm:text-lg text-2xl font-semibold max-sm:max-w-[224px] max-w-md text-justify animate-fade-in-up-delayed">SW – The Business Warehouse Solution empowers you to manage inventory, track stock levels, and streamline operations all from one simple, secure platform.</p>
            </div>
            <button onmouseover="hoverArrow(true)" onmouseout="hoverArrow(false)" class="group w-[500px] h-[60px] border-4 border-slate-800 flex justify-center items-center rounded gap-3 hover:bg-slate-800 hover:scale-[1.05]">
                <p class="text-slate-800 font-bold text-2xl m-0 group-hover:text-white">Smart Warehousing Starts Here!</p>
                <img id="arrowIcon" src="../images/Arrow 1.svg" class="h-[30px]"/>
            </button>
            <script>
                function hoverArrow(isHover) {
                    const img = document.getElementById("arrowIcon");
                    img.src = isHover ? "../images/Arrow 2.svg" : "../images/Arrow 1.svg";
                }
            </script>
        </div>
        <div class="w-full">
            <img src="../images/Landing page illustration3.svg" class="w-full h-[800px] animate-float"/>
        </div>
    </div>
</div>
