@{
	ViewData["Title"] = "Employees";
}

<div class="w-full h-full flex">
	@Html.Partial("_Sidebar", "Employees")
	<div class="h-full w-full flex justify-center items-center">
		<p class="text-center m-0 text-9xl font-bold">EMPLOYEES</p>
	</div>
</div>