<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WarehouseManagementSystem</title>
    <script type="importmap"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/output.css" rel="stylesheet">
    <link href="~/css/input.css" rel="stylesheet">
    <link rel="stylesheet" href="~/WarehouseManagementSystem.styles.css" asp-append-version="true" />
</head>
<body class="scrollbar-none">
    <main class="w-full h-full">
        @RenderBody()
    </main>
    <script src="~/js/animation.js"></script>
    <script src="~/js/landingpage.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
