<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WarehouseManagementSystem</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="./css/output.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarehouseManagementSystem.styles.css" asp-append-version="true" />
</head>
<body class="scrollbar-none">
    <div class="h-full w-full">
        <main class="w-full h-screen overflow-y-auto snap-y snap-mandatory">
            @RenderBody()
        </main>
    </div>
    <script src="./js/animation.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
